@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    font-family: 'Play', sans-serif;
}

.main {
    height: 100vh;
}

#eleccion {
    height: 9vh;
}

#btn-info {
    top: 5px;
    right: 10px;
    border-color: transparent;
    z-index: 2;
}

#contenedor-rondas {
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
}

.puntos {
    margin-bottom: -1rem;
    z-index: 1;
    padding: 1rem 1.5rem;
    background: linear-gradient(90deg, #87e6f3 0%, #adadf1 100%);
}

.bg-puntos {
    background: linear-gradient(90deg, #87e6f3 0%, #adadf1 100%);
    border-radius: 1rem;
    letter-spacing: 1px;
}

.bg-rondas {
    background: linear-gradient(90deg, #87e6f3 0%, #adadf1 100%);
}

.bg-button {
    background: linear-gradient(90deg, #87e6f3 0%, #adadf1 100%);
    border: none;
}


.bg-button:hover {
    color: #2d2d2d !important;
    border: 2px linear-gradient(90deg, rgb(248, 122, 176) 0%, rgba(195,148,233,1) 100%) solid;
    background-color: #ffffff !important;
}

.form-control:focus {
    color: #5008a4;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.btn-eleccion:active, 
.btn-eleccion:focus {
    border: 3px solid rgb(77, 183, 107) !important;
    padding: 7px !important;
}

/* Imagenes */
.icono {
    width: 80px;
}


.img-opciones {
    width: 50px;
}

.card-pc {
height: 100vh;
    background-color: #dbf3ff;
    border-radius: 0 !important;
}

.card-usuario {
    height: 100vh;
    background-color: #eae3fd;
    border-radius: 0 !important;
}

#btn-reinicio, #contenedor-rondas {
    z-index: 1;
}

/* Sweet alert */

div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(25px);
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #66b7e2 !important;
}

@media (max-width: 768px) {
    .card-pc, .card-usuario {
        height: 60vh;
    }
}