@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    font-family: 'Play', sans-serif;
    background-color: #D0DFFF;
}

main {
    height: 100vh;
}

#eleccion {
    height: 9vh;
}

#btn-info {
    top: 5px;
    right: 10px;
    border-color: transparent;
}

.puntos {
    margin-bottom: -1rem;
    z-index: 1;
    padding: 1rem 1.5rem;
    background: linear-gradient(90deg, #7af3f8 0%, #9594e9 100%);
    /* border: 3px solid;
    border-image: linear-gradient(90deg, rgb(248, 122, 176) 0%, rgba(195,148,233,1) 100%) 1; */
}

.bg-puntos {
    background: linear-gradient(90deg, #7af3f8 0%, #9594e9 100%);
    border-radius: 1rem;
    letter-spacing: 1px;
}

/* Colores */
.bg-button {
    background: linear-gradient(90deg, #7af3f8 0%, #9594e9 100%);
    border: none;
}


.bg-button:hover {
    color: #5008a4 !important;
    border: 2px linear-gradient(90deg, rgb(248, 122, 176) 0%, rgba(195,148,233,1) 100%) solid;
    background-color: #ffffff !important;
}

.form-control:focus {
    color: #5008a4;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.btn-eleccion:active, 
.btn-eleccion:focus {
    border: 3px solid rgb(77, 183, 107) !important;
    padding: 7px !important;
}

/* Imagenes */
.icono {
    width: 80px;
}


.img-opciones {
    width: 50px;
}

#card-pc > .card {
    height: 245px;
}

/* Sweet alert */

div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(25px);
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #c13ba1 !important;
}